/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .sp-woo-products-button:before, .sp-woo-products-button:after{
    content: '';
    display: block;
    clear: both;
}